<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>



    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="com.future.entity"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/CureMapper.xml"/>
        <mapper resource="mapper/IllnessMapper.xml"/>
        <mapper resource="mapper/StuffMapper.xml"/>
        <mapper resource="mapper/RankMapper.xml"/>
        <mapper resource="mapper/DepartmentsMapper.xml"/>
        <mapper resource="mapper/DepartmentMapper.xml"/>
        <mapper resource="mapper/PrescriptionMapper.xml"/>
        <mapper resource="mapper/DrugMapper.xml"/>
        <mapper resource="mapper/SickerMapper.xml"/>
        <mapper resource="mapper/SickertransMapper.xml"/>
        <mapper resource="mapper/UnitMapper.xml"/>
        <mapper resource="mapper/DrugtransMapper.xml"/>
        <mapper resource="mapper/RegisterMapper.xml"/>
    </mappers>

</configuration>