<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.future.dao.UnitDao">
    <select id="getUnitList" parameterType="Unit" resultType="Unit">
        select * from unit
        <where>
            <if test="id!=null and id>0">
                id = #{id}
            </if>
            <if test="name!=null and name!=''">
                and name = #{name}
            </if>
        </where>
    </select>
</mapper>